<div class="card my-4">
  <h5 class="card-header" style="text-align:center; background-color:#5dd5d5;"><u>About Me</u></h5>
  <div class="card-body">
    <h5 class="card-title" style="color:Blue;">I am Software Engineer</h5>
    <p class="card-text">Hello , I Am Tushar Jaitwal .I  Belong
     To Sanwer. I am pursuing my graduation in B.Tech (Information Technology )
     form SAGE UNIVERSITY,Indore.I am belong to nuclear family.
      My Strength are I am self Motivated, 
      hard Working and a Disciplined person. 
      My Short term goal is to get a Job in a reputed Company and my long term goal is to
       Achieve a good position Whrer I am build my Career and help the Organization too. My Hobbies are Listening to Music,Coding and new learn technical Things  </p>
    <a href="/" class="btn btn-primary">Back To Home</a>
  </div>
</div>